[submodule "src/interfaces/inav_bridge/libmsp"]
	path = src/interfaces/inav_bridge/libmsp
	url = https://github.com/christianrauch/msp.git
[submodule "src/interfaces/rplidar_bridge/rplidar_sdk"]
	path = src/interfaces/rplidar_bridge/rplidar_sdk
	url = https://github.com/Slamtec/rplidar_sdk.git
[submodule "PCB_Scout"]
	path = PCB_Scout
	url = https://github.com/jacquieg81/PCB_Scout.git
[submodule "src/slg_msgs"]
	path = src/slg_msgs
	url = https://github.com/ajtudela/slg_msgs.git
